@import "ember-bootstrap/bootstrap";

$primary-color: #D0CDD7;
$nav-color: #0B3948;
$nav-font-color: #D0CDD7;
$list-button-color: #0B3948;
$list-button-font-color: #D0CDD7;
$box-color: #ACB0BD;
$primary-font-color: #D0CDD7;
$primary-font-size: 1.5em;

body {
  background-color: $primary-color;
}

h1 {
 font-size: 4em;
}

nav {
  background-color: $nav-color;
  color: $nav-font-color;
}

.main-content {
  padding: 1vh;
}
.wrapper {
  padding: 3vh;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  font-size: $primary-font-size;
}

.label-wrap {
  padding-left: 3vh;
  padding-right: 3vh;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  color: $nav-color;
}

h3 {
  font-size: 3em;
}
.inv-label {
  display: flex;
  justify-content: center;
  width: 30vw;
}

.recipe-label {
  display: flex;
  justify-content: center;
  width: 30vw;
}

.shop-label {
  display: flex;
  justify-content: center;
  width: 30vw;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

.list-button {
  width: 20vw;
  height: 10vh;
  font-size: 1.35em;
  font-weight: bold;
  background-color: $list-button-color;
  color: $list-button-font-color;
}

.list-button:hover {

}

.food {
  padding: 3vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 30vw;
  height: auto;
  max-height: 80vh;
  overflow-x: hidden;
  background-color: $box-color;
}

.recipe {
  padding: 3vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 30vw;
  height: auto;
  max-height: 80vh;
  overflow-x: hidden;
  background-color: $box-color;
}
.unselected-recipe-card {
  background-color: blue !important;
}

.list {
  padding: 3vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 30vw;
  height: auto;
  max-height: 80vh;
  overflow-x: hidden;
  background-color: $box-color;
}

.list-group-item {
  display: flex;
  justify-content: center;
  background-color: $list-button-color;
}
.list-cards {
  width: 25vw;
  color: $primary-font-color;
}
