@import "ember-bootstrap/bootstrap";

$primary-color: #FFFFFF;
$nav-color: #0E8A64;
$nav-font-color: #FFFFFF;
$list-button-color: #0E8A64;
$list-button-font-color: #FFFFFF;
$box-color: #ABC2B5;
$primary-font-color: #FFFFFF;
$card-selected-color: #0E8A64;
$card-unselected-color: #FFFFFF;
$card-unselected-font: #0E8A64;
$primary-font-size: 2.5vh;

#bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
  opacity: .7;
}

body {
}

h1 {
 font-size: 6vh;
}

nav {
  background-color: $nav-color;
  color: $nav-font-color;
}

.main-content {
  padding: 1vh;
}
.wrapper {
  padding: 3vh;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  font-size: $primary-font-size;
}

.label-wrap {
  padding-left: 3vh;
  padding-right: 3vh;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  color: $nav-color;
}

h3 {
  font-size: 5vh;
}
.inv-label {
  display: flex;
  justify-content: center;
  width: 30vw;
}

.recipe-label {
  display: flex;
  justify-content: center;
  width: 30vw;
}

.shop-label {
  display: flex;
  justify-content: center;
  width: 30vw;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

.list-button {
  width: 20vw;
  height: 10vh;
  font-size: 2vh;
  font-weight: bold;
  background-color: $list-button-color;
  color: $list-button-font-color;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-button:hover {
  background-color: $box-color;
  color: $nav-color;
}

.list-button:focus {
  background-color: $box-color;
  color: $nav-color;
}

.food {
  padding: 3vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 30vw;
  height: auto;
  max-height: 80vh;
  overflow-x: hidden;
  background-color: $box-color;
  opacity: .95;
  border-style: solid;
  border-width: medium;
  border-color: $nav-color;
  border-radius: 1vh;
}

.recipe {
  padding: 3vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 30vw;
  height: auto;
  max-height: 80vh;
  overflow-x: hidden;
  background-color: $box-color;
  opacity: .95;
  border-style: solid;
  border-width: medium;
  border-color: $nav-color;
  border-radius: 1vh;
}
.unselected-recipe-card {
  background-color: $card-unselected-color !important;
  color: $card-unselected-font;
  border-color: $card-unselected-font;
}

.list {
  padding: 3vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30vw;
  height: auto;
  max-height: 80vh;
  overflow-x: hidden;
  background-color: $box-color;
  opacity: .95;
  border-style: solid;
  border-width: medium;
  border-color: $nav-color;
  border-radius: 1vh;
}

.list-group-item {
  display: flex;
  justify-content: center;
  background-color: $card-selected-color;
}
.list-cards {
  width: 25vw;
  color: $primary-font-color;
}
