<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <h1>KIM</h1>
    </div>
  </div>
</nav>

<div class="main-content">

  {{#inventory-display
    model=model
  }}
  {{/inventory-display}}


</div>
